.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
}

.card {
  width: 148px;
  height: 148px;
  flex-shrink: 0;
  aspect-ratio: 1/1;
  border-radius: 12px;
  background: linear-gradient(
    113deg,
    rgba(255, 255, 255, 0.51) 3.51%,
    rgba(255, 255, 255, 0) 111.71%
  );
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  /* box-shadow: 14.647px 17.576px 29.294px 0px rgba(0, 0, 0, 0.05); */
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.icons {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}

.title {
  padding: 1rem 0.5rem;
  font-weight: 500;
  font-size: 18px;
}

